
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow: hidden;


    background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;

    font-family: Arial, sans-serif;
}



.Technology {
    width: 900px;
    height: 700px;

    position: relative;

    margin:  auto;
    top: 50%;
    transform: translateY(-50%);
}

.diamond {
    width: 220px;
    height: 220px;

    position: absolute;

   
    transform: rotate(45deg);

    overflow: hidden;

   
    border: 6px solid #d9a441;

    border-radius: 8px;
}



.diamond img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    
    transform: rotate(-45deg) scale(1.4);
}


.box1 {
    left: 40px;
    top: 30px;

    
    animation: topLeft 1.5s ease;
}



@keyframes topLeft {

    
    from {
        transform: rotate(45deg) translateY(-500px);
        opacity: 0;
    }

    
    to {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }
}


.box2 {
    right: 40px;
    top: 30px;

    animation: topRight 1.5s ease;
}



@keyframes topRight {

    from {
        transform: rotate(45deg) translateX(500px);
        opacity: 0;
    }

    to {
        transform: rotate(45deg) translateX(0);
        opacity: 1;
    }
}




.center-box {
    left: 50%;
    top: 50%;

   
    transform: translate(-50%, -50%) rotate(45deg);

    
    animation: centerRotate 10s linear;
}


@keyframes centerRotate {

    from {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}




.box3 {
    left: 40px;
    bottom: 30px;

    animation: bottomLeft 1.5s ease;
}


@keyframes bottomLeft {

    from {
        transform: rotate(45deg) translateY(500px);
        opacity: 0;
    }

    to {
        transform: rotate(45deg) translateY(0);
        opacity: 1;
    }
}


.box4 {
    right: 40px;
    bottom: 30px;

    animation: bottomRight 1.5s ease;
}



@keyframes bottomRight {

    from {
        transform: rotate(45deg) translateX(500px);
        opacity: 0;
    }

    to {
        transform: rotate(45deg) translateX(0);
        opacity: 1;
    }
}




.diamond:hover img {

    
    transform: rotate(-45deg) scale(1.7);

    
    transition: 0.5s;
}